.error{
    color: red;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

input {
    border-radius: 50px;
    max-height: 50em;
    align-items: flex-start;
}

label {
    width: 150px;
    align-content: center;
}
div {

align-items: center;
}

button {
    width: 100%;

    appearance: none;
    background-color: #009688;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 50px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    padding: 16px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

h2 {
 text-align: center
}

.form-input {
  margin: 10px 0;
}

.modal-btn {
  margin-bottom: 15px;
}