.header {
    height: 100%;
    width: 100%;
    justify-content: center;
  }
  
  .header-buttons {
    height: 100%;

    margin: auto 15px;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
  }
  .flex-row {
    -moz-box-direction: row;
    -webkit-box-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flexbox-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .third-width {
    width: 33%;
  }

  .center {
    justify-content: center;
    align-content: center;
  }

  .logo{
    height: 5em;
  }
  .header{
    background-color: #512DA8;
  }

  a {
    color: azure;
    align-self: center;
  }

  @media only screen and (max-width: 700px) {
    .header-buttons {
      -moz-box-direction: column;
      -webkit-box-direction: column;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flexbox-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      align-content: end;
    }

    .logo{
      position: relative;
    }
  }

  @media only screen and (max-width: 425px) {
    .header-buttons {
      -moz-box-direction: column;
      -webkit-box-direction: column;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flexbox-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      align-content: end;
    }

    .logo a{ 
      
    
    }
    .logo-mobile a {
      width: 20vw;
      
      
    }

  }